<!DOCTYPE html>
<html>

<body>
	{% load static %}
	<link rel="stylesheet" href="{% static 'website/home.css' %}" />

	<header>
		{% load static %}
		<a href="{% url "website.views.home" %}"><img class='logo' src="{% static 'website/logo.png' %}" alt="logo.png" ></code></a>

		<h1 class="titre">GameTime</h1>

	</header>

	<nav>
		{% for sport in sport %}
			<div class="sport">
				<a href="{% url "website.views.sport" sport.nom %}"><button id="bouton"><h3>{{ sport.nom }}</h3></button></a>
			</div>
		{% empty %}

		{% endfor %}


	    <button id="bouton2">Cliquez-moi !</button>
	    
	    {% load static %}
		<script type="text/javascript" src="{% static 'website/home.js' %}"></script>

	</nav>

	<section>

		{% for terrain in terrain %}
				<h3>Nom : {{ terrain.nom }}</h3>
				<p>Sport : {{ terrain.sport.nom }}</p>
				<p>Etat : {{ terrain.etat }}</p>
		{% empty %}

		{% endfor %}


	</section>
</body>
</html>