
header
{
	display: flex;
	border-width: 3px;
	border-color: rgb(0,162,232);
	border-style: solid;
}

nav
{
	float: left;
	height: 1000px;
	margin-right: 10px;
	margin-top: 10px;
}

section
{


}


.logo
{
	width: 100px;
	height: 100px;
}

.titre
{
	color: rgb(0,162,232);
	width: 80%;
	text-align: center;
}

#bouton
{
	width: 100px;
	background-color: pink;
}